/* --------------------------------------------------------------------------------  
 ------------------------------------   Header  -----------------------------------  
 ----------------------------------------------------------------------------------  */

.header {
	background-color: #F1DBA9;
}

.tiklalTitle {
	color: #542b22;
}

.titleWithMajorMinor {
	color: #542b22;
}

.titleWithMajorOnly {
	color: #542b22;
}

/* --------------------------------------------------------------------------------  
 ------------------------------------   Container   -------------------------------  
 ----------------------------------------------------------------------------------  */
.container {
	color: #000;
	background-color: #FEF9E3;
}
  
/* --------------------------------------------------------------------------------  
 ------------------------------------   footer  ----------------------------------  
 ----------------------------------------------------------------------------------  */

.footer {
	background-color: #F1DBA9;
	color: #363636;
}

.footerButton {
	background: #542b22;
	color: #FEF9E3;  
}

.allrights {
	color: #542b22;
}

.hasut {
	color: #542b22;
}

/* --------------------------------------------------------------------------------  
 ------------------------------------   Menu   ------------------------------------  
 ----------------------------------------------------------------------------------  */
.menu {
	background-color: #FEF9E3;
}

.menuItem {
	color: #542b22;
}
  
/* --------------------------------------------------------------------------------  
 ------------------------------------   Settings   --------------------------------  
 ----------------------------------------------------------------------------------  */
.settings {
	background-color: #FEF9E3;	
}

.settingsLabel {
	color: #542b22;
}

.settingsValue {
	color: #542b22;
}
